@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,300&display=swap");
* {
  font-family: Lato;
}
body {
  background-color: whitesmoke;
}
#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
  margin-top: 50px;
  /* margin-left: 10px; */
  width: 85%;
  margin: auto;
  gap: 22px;
  /* border: 1px solid green; */
  margin-bottom: 34px;
}
.main {
  width: 94%;
  height: 460px;
  /* border: 1px solid green; */
  justify-content: space-evenly;
  border-radius: 10px;
  /* margin-left: 50px; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  /* margin-top: 20px; */
}
.image {
  width: 100%;
  height: 270px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
h4 {
  margin-left: 5px;
  /* margin-top: -2px; */
  white-space: wrap;
  width: 350px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2px;
  /* border: 1px solid #000000; */
}
/* h4:hover{
  overflow: visible;
} */

.des {
  margin-left: 5px;
  margin-top: 8px;
  font-size: 13px;
  white-space: nowrap;
  width: 300px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 14px;
}

.wgt {
  margin-left: 5px;
  margin-top: 9px;
  display: flex;
  color: rgb(56, 55, 55);
  /* gap: 20px; */
}

h6 {
  font-size: 15px;
}
.wgt :nth-child(1) {
  margin-left: 1px;
}
.wgt :nth-child(2) {
  margin-left: 5px;
}

.wgt :nth-child(3) {
  margin-left: 1px;
}
.wgt :nth-child(4) {
  margin-left: 120px;
}
.wgt :nth-child(5) {
  margin-left: 5px;
}

.pri {
  margin-left: 5px;
  margin-top: 30px;
  display: flex;
  color: rgb(56, 55, 55);
}
.pri :nth-child(1) {
  color: red;
  font-size: 15px;
}
.pri :nth-child(2) {
  /* margin-top: 25px; */
  margin-left: 5px;
}

.pri :nth-child(4) {
  margin-top: 23px;
  margin-left: 10px;
}
.addcartbtn {
  margin-left: 150px;
  /* margin-top: 15px; */
  margin-right: 10px;
  width: 100px;
  height: 30px;
  /* border-radius: 5px; */
  border: none;
  background-color: crimson;
  color: white;
  font-size: 15px;
  padding-right: 10px;
  cursor: pointer;
}
/* refer */
.refermain {
  display: flex;
  margin-left: 150px;
  font-weight: 900;
  font-size: 15px;
  padding: 18px;
  
}

a {
  text-decoration: none;
  color: black;
}
#texthover {
  color: red;
}
#refhome > a:hover {
  color: red;
}

.head {
  margin-left: 150px;
  width: 77%;
  padding: 20px;
}